body {
  background-color: #373737;
  margin: 0px;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

button {
  background-color: #0c80f3;
  border: 6px solid #0ff166;
  border-radius: 10px;
}
.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  color: rgb(112, 17, 17);
  border: 6px solid #0b0d0f;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.grid-row {
  border: 6px solid #739dc7;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(175, 70, 70);
}
.block {
  background-color: rgb(219, 28, 28);
  border: 6px solid green;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 8rem;
  display: grid;
  place-items: center;
}

.page-container {
  background-color: #ededed;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.game-header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: 700;
}