* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
     margin: 0px;    
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    background: radial-gradient(ellipse at top, #e66465, transparent),
    radial-gradient(ellipse at bottom, #4d9f0c, transparent);;
}

.root {
    color: #129061;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    padding: 50px;
    margin: 0px 20px;
    row-gap: 30px;
}

.calculate {
    border: 3px solid #4d9f0c;
    background-color: rgb(31, 122, 0);
    color: #ccc;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: background-color .1s linear;
    cursor: pointer;
}

.calculate:hover {
    background-color: #4d9f0c;
}

.root span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: #906112;
}

.loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    animation: load .5s infinite;
}

p {
    margin: 0px;
}

@keyframes load {
    0% {
        font-size: 25px;
        letter-spacing: 1px;
        color: white;
    }
    50% {
        font-size: 60px;
        letter-spacing: 6px;
        color: red;
    }
    100% {
        font-size: 25px;
        letter-spacing: 1px;
        color: white;
    }
}